<div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="navbar-nav m-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="nav-item active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cart</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Order</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
    </ul>
</div>